<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="santander_payment_solutions_new_order_observer" instance="SantanderPaymentSolutions\SantanderPayments\Observer\NewOrder" />
    </event>
    <event name="sales_order_save_after">
        <observer name="santander_payment_solutions_order_status_observer" instance="SantanderPaymentSolutions\SantanderPayments\Observer\OrderStatus" />
    </event>
</config>