<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="santander_invoice_config_provider" xsi:type="object">SantanderPaymentSolutions\SantanderPayments\Model\Ui\InvoiceConfigProvider</item>
                <item name="santander_hire_config_provider" xsi:type="object">SantanderPaymentSolutions\SantanderPayments\Model\Ui\HireConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="SantanderPaymentSolutions\SantanderPayments\Block\InvoiceInfo">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <type name="SantanderPaymentSolutions\SantanderPayments\Block\HireInfo">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
</config>
